body{
    background-color: #fdbd9b;
    margin: 31px 30px;
}
.main-wrapper{
    margin: 0 auto;
    padding: 44px 67px 0 67px;
    width: 1380px;
    height: 1453px;
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
}