@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('/fonts/Nunito-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito-Black';
    src: url('/fonts/Nunito-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
.app-wrapper{
    background-color: #fdbd9b;
    padding: 31px 30px;
    font-family: Nunito, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
