
.inputWrapper{
    position: relative;
}
.searchInput{
    height: 50px;
    width: 764px;
    border-radius: 15px;
    border: none;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: 400;
    color: #ADADAD;
    padding-left: 48px;
}
.searchIcon{
    position: absolute;
    color: #ADADAD;
    left: 20px;
    top: 17px;
}